#
# ############# pip3 Requirements File #############
#                       NOVA
# Example usage: sudo pip3 install -r requirements.txt
#
flask
sqlalchemy
flask_sqlalchemy
Flask-Migrate
Flask-Login
